.photoItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    padding: 8px;
}
.photoItem:last-child {
    border-bottom: solid 1px;
}

.image {
    margin-top: 5px;
}